.close-icon {
    -mfx-color: #FF605C;
    -fx-opacity: 1.0;
}

.close-icon:hover {
    -fx-opacity: 0.6;
}

.minimize-icon {
    -mfx-color: #00CA4E;
    -fx-opacity: 1.0;
}

.minimize-icon:hover {
    -fx-opacity: 0.6;
}

.always-on-top-icon {
    -mfx-color: #FFBD44;
    -fx-opacity: 1.0;
}

.always-on-top-icon:hover {
    -fx-opacity: 0.6;
}

